<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">

	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#page-top">TOTVSBook</a>
			<div class="input-group nav-search" >
				<input type="text" class="form-control" placeholder="Search for people, pages, or posts">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="">
					<a href="">
						<img style="height: 45px; width: 45px;" class="img-thumbnail" src="http://res.cloudinary.com/raven-art-media/image/upload/v1422983670/me2_a8bkrt.png" alt="profile image"/>
						Danny S.
					</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 no-padding">
					<div class="profile-img">
						<img src="http://res.cloudinary.com/raven-art-media/image/upload/v1422983670/me2_a8bkrt.png" />
					</div>
					<div class="col-lg-12 no-padding profile-button-actions">
						<div class="intro-text">
							<span class="name">Danny Schreiber</span>
						</div>
						<button class="btn btn-default btn-sm">
							<i class="glyphicon glyphicon-user"></i>
							Add To Friends
						</button>
						<button class="btn btn-default btn-sm">
							<i class="glyphicon glyphicon-envelope"></i>
							Send Message
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Portfolio Grid Section -->
<section class="sub-menu">
	<div class="container">
		<div class="row">
			<div class="menu-container">
				<ul>
					<li ui-sref-active="active">
						<a href="" ui-sref="feed">
							Feed
						</a>
					</li>
					<li ui-sref-active="active">
						<a href="" ui-sref="friends">
							Friends
						</a>
					</li>
					<li ui-sref-active="active">
						<a href="" ui-sref="photos">
							Photos
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<script src="../vendors/theme/js/cbpAnimatedHeader.js"></script>